%div{:id => "fb-root"}
= link_to '<i class="icon-chevron-left"></i> Vse objave'.html_safe, posts_path

%h2
  =@post.title
%small.muted
  %i.icon-user
  = link_to @post.instructor.name, instructor_path(@post.instructor)

  %i{:class => "icon-calendar"}
  =@post.created_at.strftime("%d %b. %Y")
  
  %i{:class => "icon-time"}
  =@post.created_at.strftime("%H:%M")

%p
  =@post.content
    
%p
  /
    <g:plusone href="#{request.protocol}#{request.host}#{request.fullpath}" size="medium"></ g:plusone>
    <fb:like send="false" layout="button_count" width="90" show_faces="true"></fb:like>
  
  <a href="https://twitter.com/share" data-url="#{request.protocol}#{request.host}#{request.fullpath}" class="twitter-share-button" data-lang="en">Tweet</a>
    
  =render 'layouts/facebook'
  =render 'layouts/google'
  =render 'layouts/twitter'

