!!! 5
%html{"xmlns:og" => "http://ogp.me/ns#"}
  %head
    %link{ "href" => "http://fonts.googleapis.com/css?family=Titillium+Web:600&subset=latin-ext,latin", "rel" => "stylesheet", "type" => "text/css"}
    %link{ "href" => "http://fonts.googleapis.com/css?family=Patrick+Hand&subset=latin,latin-ext", "rel" => "stylesheet", "type" => "text/css"}
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "#{defined?(@ogtitle) ? "Kin: " + @ogtitle : "ŠD KinVital"}"
    %meta{"property" => "og:title", :content => "#{defined?(@ogtitle) ? @ogtitle : "ŠD KinVital"}"}
    %meta{"property" => "og:type", :content => "#{defined?(@ogtype) ? @ogtype : "website"}"}
    %meta{"property" => "og:url", :content => "#{request.protocol}#{request.host}#{request.fullpath}"}
    %meta{"property" => "og:description", :content => "#{defined?(@ogdescription) ? @ogdescription : "Športno društvo"}"}
    %meta{"property" => "og:image", :content => "#{defined?(@ogpicture) ? @ogpicture : "http://res.cloudinary.com/sd-kinvital/image/upload/v1369157879/logo_huphwy.png"}"}
    %meta{"property" => "og:site_name", :content => "KinVital"}
    %meta{"property" => "fb:admins", :content => "100005478642666"}
    
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    =yield(:head)
    /[if lt IE 9]
      %script{ :src => '//html5shiv.googlecode.com/svn/trunk/html5.js' }
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
  %body
    %div#wrap      
      #main{:role => "main"}
        .container
          .naslovnica
            =render 'layouts/naslovnica'
          %div.navbar
            %div.navbar-inner
              .container
                =render 'layouts/navigation'
          .content
            = render 'layouts/messages'
            = yield
          %div#push
    %div#footer
      .container
        .row-fluid
          .span3.offset3
            %h5
              Kontakt
            %ul.unstyled
              %li
                %i{:class => "icon-phone"}
                031-893-284
              %li
                %i{:class => "icon-envelope-alt"}
                kinvital@gmail.com
          .span3
            %h5
              KinVital na spletu
            %ul.unstyled.inline
              %li
                =link_to image_tag("fc-webicon-facebook-m.png"), "http://www.facebook.com/sdkinvital"
              %li
                =link_to image_tag("fc-webicon-twitter-m.png"), "http://twitter.com/kinvital"
              %li
                =link_to image_tag("fc-webicon-googleplus-m.png"), "http://plus.google.com/100090636462709186136/posts"
                 
    
